<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="Iniziativa di Pisa CoderDojo: #iorestoacasa e #programmo! Si tratta di una serie di video tutorial Scratch per mantenere vivo lo spirito di CoderDojo in questi giorni così difficili per COVID-19." />
  <meta name="author" content="Pisa CoderDojo" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7192458-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-7192458-9');
  </script>
  <title>Pisa CoderDojo - #iorestoacasa 👑🦠</title>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/all.css" rel="stylesheet">
  <link href="css/heroic-features.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <h1 class="display-3">#iorestoacasa e #programmo</h1>
      <h1 class="display-3">👩‍💻👨‍💻 @ 🏠 vs 👑🦠</h1>
    </div>
  </nav>
  <div class="container top">
    <header class="jumbotron">
      <div class="lead">
        <p>
          Una nuova iniziativa del Pisa Coderdojo per tutti i Ninja e per i loro genitori:
          una serie di <b>video-tutorial per mantenere vivo lo spirito di CoderDojo</b> in questi giorni così difficili
          per tutti.
        </p>
        <p>
          Facciamo la nostra parte per sconfiggere il coronavirus: <b>rimaniamo a casa e programmiamo insieme</b>.
          Pubblicheremo un nuovo video tutorial <a href="https://scratch.mit.edu/" target="_blank">Scratch</a> di Pisa
          CoderDojo ogni lunedì alle 17.30 qui e sulla nostra pagina Facebook.
        </p>
        <p>
          Inviateci le foto dei <b>progetti strabilianti</b> che realizzerete sulla nostra:
        </p>
        <div class="btn-fb">
          <a href="https://it-it.facebook.com/pisacoderdojo/" class="btn btn-primary btn-lg" target="_blank">Pagina Facebook!</a>
        </div>
        <div class="btn-fb">
          <a href="https://forms.gle/fyyaT6bqVcjKaa896" class="btn btn-primary btn-lg" target="_blank">Form Feedback!</a>
        </div>
        <p>
          Iniziativa realizzata col patrocinio del <a href="https://www.msc.sma.unipi.it/" target="_blank">Museo degli
            Strumenti del Calcolo</a> e del <a href="https://www.sma.unipi.it/" target="_blank">Sistema Museale
            d'Ateneo</a> dell'<a href="https://www.unipi.it/" target="_blank">Università di Pisa</a>.
        </p>
      </div>
    </header>
    <p>
      <h1 class="display-3">I tutorial di Pisa CoderDojo</h1>
    </p>
    <div class="row text-center">
      {{ .Body }}
    </div>
        <div class="row  text-center space-top">
      <div class="col-md-12">
        <div class = "card">
        <div class="card-body">
          <form class="form-horizontal"  action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdyNXeIaWGWK5UK7aLr8vDM2PDCuydD1QHZi_KGjPsZQq6ZQw/formResponse"  method="post">
          <fieldset>
            <legend class="text-center card-title">Lasciaci un tuo Commento!</legend>
            <div class="form-group">
              <div class="col-md-3">
                <input id="name" name="entry.439063688" type="text" placeholder="Il tuo nome" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <textarea class="form-control" id="message" name="entry.1813328767" placeholder="Ci piacerebbe sentire i tuoi pensieri su come è stata la tua esperienza o come possiamo migliorare!" rows="5" required></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg">Invia</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
        <div class="card-footer">
          Se hai domande o dubbi sui nostri tutorial, scrivici tramite la nostra pagina <a href="https://it-it.facebook.com/pisacoderdojo/" target="_blank">Facebook</a> o invia una mail all’indirizzo <a href="mailto:pisa.it&#64;coderdojo.com">pisa.it<code>@</code>coderdojo.com</a>.
        </div>
      </div>
      </div>
    </div>
  </div>
  <footer class="py-4 bg-light">
    <div class="container">
      <p class="m-0 text-center text-black">
        Realizzato con 💖 da
      </p>
      <p class="text-center">
        <a href="https://pisa.coderdojo.it" target="_blank"><img src="img/banner-web.png" /></a>
      </p>
      <p class="m-0 text-center text-black">
        Ricorda di lavarti spesso le mani! 🧼👏
      </p>
    </div>
  </footer>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>