
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="video-container">
            <iframe width="500" height="325" src="{{ .YouTube }}" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="card-body text_left">
            <h4 class="card-title">{{ .Title }}</h4>
            <p class="card-text">
              {{ .Text }} {{ .Remix }}
            </p>
          </div>
          <div class="skill-bar">
            <span class="noWrap">Livello</span>
            <div class="skill-level"> {{.Stars}}
            </div>
          </div>
          <div class="card-footer">
            <a href="{{ .Slides }}" class="btn btn-primary" download="">Scarica le slide</a>
          </div>
        </div>
      </div>
